.post-make {
  position: relative;
  left: 50px;
  right: 50px;
  width: 100%;
  padding-right: 10px;
  margin-block-start: 30px;
  border: 10px;
  width: 100%;
  align-content: center;
  align-self: center;
  float: auto;
}